<%- include("partials/header.ejs") %>


<div class="user-update">
    <h2></h2>
    <form action="/update/<%= currentPost.id %>" method="post">
        
        <textarea name="titleEdit" id="" cols="20" class="title-input" rows="2"><%= currentPost.blogTitle %></textarea><br><br>
        
        <textarea name="blogEdit" id="" cols="30" class="text-input" rows="5"><%= currentPost.log %></textarea><br><br>
        

        <input type="submit" class="update-btn btn" value="Update" >
        
    </form>
</div>

<%- include("partials/footer.ejs") %>