<%- include("partials/header.ejs") %>


<div class="container">

    <h1>Welcome to your personal blog</h1>

    <div class="user-input">
        <h2></h2>
        <form action="/" method="POST">
       
          <textarea id="title" name="title" placeholder="Title" class="title-input" rows="2" cols="20"></textarea><br><br>
          
          <div class="blog-box">
            
            <textarea id="blog" name="blog" placeholder="Blog" class="text-input" rows="5" cols="30"></textarea><br><br>
          </div>

            <input type="submit" value="Post" class="post-btn btn">
            
        </form>
    </div>


    <div class="logs">
        <h2 class="my-logs">My logs:</h2>

        <% if(locals.data && locals.data.length > 0){ %>
                

            <form action="/blogs" method="post">
              <% for(var i =0; i < locals.data.length; i++){ %>
                <div class="blogs-body">
                  <h3>  <%= data[i].blogTitle %>  </h3>
                  <p> <%= data[i].log %> </p>


                  <button type="submit"  name="edit" class="edit-btn btn" value="<%= data[i].id %>" >Edit</button>
                  <button type="submit" formaction="/delete/<%= data[i].id %>" name="delete" class="delete-btn btn" value="<%= i %>" >Delete</button>
                 
                </div>
              <% } %>
            </form>

        <% }else{ %>
            <p class="pls">Please Create blog 🫶🏼</p> 
       <% } %>

    
    </div>
</div>






<%- include("partials/footer.ejs") %>